<div *ngIf="user | async; let user;">
  <h2>
    Viewing user {{user.name}}
  </h2>
  <br>
  <br>
  <ul class="list-group">
    <li  class="list-group-item">
      <img [src]="user.avatarUrl" alt="nice avatar">
      <span>{{user.name}}</span>
    </li>
  </ul>
  <br><br>
  <div class="buttons">
    <button class="btn btn-lg btn-success" role="button" [routerLink]="'./edit'">Edit</button>
    &nbsp;
    &nbsp;
    <div class="btn btn-lg btn-danger" role="button" routerLink="/users">Back</div>
  </div>

</div>
<company-loader *ngIf="!(user | async)" [what]="'user'"></company-loader>
